<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FLNotePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <FLNotePad.Properties.Settings>
            <setting name="WrapOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="BackGroundColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="FontType" serializeAs="String">
                <value>Comic Sans MS, 9pt</value>
            </setting>
        </FLNotePad.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
